/* Navbar MQ */

@media(max-width: 600px) {


    .navbar .logo {

        width: 55px;
        height: 47px;
        margin-left: -80px;


    }

    .navbar ul li {

        padding: 0 0;
        margin: 0;
        margin-right: 30px;
    }

    .navbar ul li a{

        font-size: 1.5rem;
        padding: 10px 10px;


    }

    .hamburger {

        top: 23px;
        right: 30px;

    }

    .navbar__option--menu a {

        margin-top: 80px;

    }



}

/* Welcome */

@media (max-width: 600px) {
    
    .welcome {
        
        margin-top: -50px;
        
    
    .welcome h1 {

        font-size: 2rem;


    }
    .welcome p {

        margin: 100 auto;
        font-size: 1.5rem;

    }
}

/* PRESALE COUNTER */ 

@media (max-width: 600px) {
    
    .wrap h1 {

        font-size: 2rem;

    }

    .title {

        font-size: 1.3rem;

    }

    

}

/* ROADMAP */


@media (max-width: 600px) {
    
    .timeline div {

        font-size: 1.4rem;

    }

}   

/* 3D MODEL */


@media (max-width: 600px) {
    
    iframe {

        width: 400px;
        height: 400px;
        display: block;
        margin: 100px auto;
    
    
    }

}   

/* DEVELOPMENT ROADMAP */


@media (max-width: 600px) {

    .dev {

        height: 100%;
        width: 100%;
        padding: 0 0;
        color: rgb(182, 182, 182);
    
    }

    .dev h1 {

        margin: 0 auto;
        padding-bottom: 30px;

    }

    .dev h3 {

        font-size: 1.4rem;
        margin: 0 20px;
        margin-bottom: 150px;
        padding: 10px 10px;
        border-radius: 6px;
        color: #d4d4d4;
        background-color: #444343;
        font-weight: 500;
    
    }


    .dev__info h2 span {


        height: 250px;
        padding-left: 0;
        padding-right: 0;
        font-weight: 400;
    
    }

    .dev__info h2 {

        display: block;
        color: #d4d4d4;
    
        
    
    }

    .dev__info span {


        text-align: center;
        display: block;
        margin: 0 auto;
        padding-top: 40px;
        font-size: 1.7rem;
        font: 900;
        color: #d4d4d4;
    
    }

    .dev__info hr {

        margin: 0 20px 50px 20;
    
    }

    .dev__info .dev_5 {

        padding-left: 0;
    
    }
    
    .dev__info .dev_4 {
    
        padding-left: 0;
    
    }
    
    .dev__info .dev_3 {
    
        padding-left: 0;
    
    }
    
    .dev__info .dev_2 {
    
        padding-left: 0;
    
    }

}   


/* FAQS */


@media (max-width: 600px) {
    
    div.c{
        position: center;
        margin: 0 auto;
        
      }

      .c h1{

        padding: 0.9rem 1.4rem;
        position: center;
        font-size: 1.9rem;
        border-radius: 10px;
        letter-spacing: 3px;
      }

    .c input{

        position: center;
        height: 100%;
        width: 100%;
        opacity:0;
        visibility: 0;
      
      }

    .c .p{

        max-height: 0;
        transition: max-height 0.5s;
        color: rgb(207, 207, 207);
        background-color: rgb(46, 46, 46);
        box-shadow:0 0 10px 0 rgba(66, 66, 66, 0.2);
        margin-top: -60px;

      }
    
      .c .p p {
  
        align-items: center;
        justify-content: center;
        padding: 0 0;


      }

      

}  
