/* Navbar MQ */

@media(max-width: 750px) {


    .navbar .logo {

        width: 55px;
        height: 47px;
        margin-left: -80px;


    }

    .navbar ul li {

        padding: 0 0;
        margin: 0;
        margin-right: 30px;
    }

    .navbar ul li a{

        font-size: 1.5rem;
        padding: 10px 10px;


    }

    .hamburger {

        top: 23px;
        right: 30px;

    }

    .navbar__option--menu a {

        margin-top: 80px;

    }



}

/* Welcome */

@media (max-width: 750px) {
    
    .welcome h1 {

        font-size: 2rem;


    }
    .welcome p {

        margin: 0 -50px;
        font-size: 1.5rem;

    }
}

/* PRESALE COUNTER */ 

@media (max-width: 750px) {
    
    .wrap h1 {

        font-size: 2rem;

    }

    .title {

        font-size: 1.3rem;

    }

}

/* Roadmap */