@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

/* Ajustes de REM (NO TOCAR) */

html { font-size: 62.5%; }

body { font-size: 16px; }


/* Configuración general */

body {
    
    font-family: 'Poppins', sans-serif;
    background: #0f0f0f;

}

h1 { font-size: 6rem; text-transform: uppercase;}

h2 { font-size: 4rem; }

h3 { font-size: 3rem; }

p  { font-size: 2.2rem;}

h1,h2,h3 { text-align: center; color: var(--secundario);}

p { margin: 0 auto;  color: var(--secundario); letter-spacing: 1px; font-weight: 400; word-spacing: 1px; line-height: 30px;}


/* Aplica un modelo de diseño de cuadro natural a todos los elementos*/

html {
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


/* SCROLL SNAP */

.servicios,
.navegacion-principal,
.formulario {

    scroll-snap-align: center;
    scroll-snap-stop: always;

}

/* Paleta de colores */

:root {

    --fondo: #0f0f0f;
    --fondo-claro: #111111;
    --primario: #161625;
    --secundario: #ececec;
    --tercero: #274274;
    --color-text: hsl(248, 10%, 40%);
    --color-text-muted: hsl(248, 10%, 40%);
    --color-purple: slateblue;

}



/* HEADER BACKGROUND */

section {

    background-color: #1d1d1e;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    overflow: hidden;
  
  }
  
  section::before {
  
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    z-index: 1000;
    bottom: 0px;
    left: 0;
  
  }
  
  section img {
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  
  }
  
  section img#moon {
  
    mix-blend-mode: screen;
  
  }
  
  section img#mountain_2 {
  
    z-index: 100;
  
  }
  
  section h1 {
    color: #e0e0e0;
    font-size: 12.5rem;
  }

  .tittle__1 {
    transform: translate(-20%, 190%);
  }

  .tittle__2 {
    transform: translate(30%, 230%);
  }
  
  
  /* Navbar setting */
  
  
  .navbar {
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
   
  }
  
  .navbar .logo {
  
    padding: 0;
    width: 85px;
    height: 74px;
    color: var(--secundario);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  
  }
  
  .navbar ul {
  
    display: flex; 
    justify-content: center;
    align-items: center;  
  
  }
  
  .navbar ul li {
  
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    z-index: 100;
    font-size: 2.5rem;
  
  }
  
  .navbar__discord {
  
    text-decoration: none;
    font-size: 20px;
    padding: 10px 30px;
    color: #393b48;
    font-weight: 1000;
    border-radius: 7px;
    background: #e4df95;

  }

  .navbar__discord img{
    width: 40px;
    margin-right: 15px;
    margin-top: 5px;
  }

  .navbar__discord a {
    text-decoration: none;
    color: #393b48;
    font-size: 2.5rem;
    letter-spacing: 1px;
  }

  .navbar__menu {
    text-decoration: none;
    font-size: 20px;
    padding: 16px 20px;
    color: var(--secundario);
    font-weight: 1000;


  }

  .navbar__menu a{
    margin-left: 80px;
  }

  
  .navbar__discord:hover {
  
    background: rgb(231, 231, 231);
    color: #111111;
  
  }
  
  


  /* WELCOME */

 .welcome {

  padding-top: 300px;
  margin-left: 400px;

 }

 .welcome__home img {

  width: 600px;


 }

 .welcome__home h1 {

  margin-top: 50px;
  font-size: 10rem;
  font-weight: 800;
  letter-spacing: 0;
  text-align: left;
  color: #cdcccd;

 }

 .welcome__home p {

  color: #7c7979;
  margin-right: 200px;
  text-align: left;

 }


.welcome__billonaire img {


  width: 800px;
  margin: 0 auto;
  margin-top: 500px;
  margin-right: 200px;
  display: flex;
  


}

.welcome__billonaire h1 {

 margin-top: 50px;
 margin-right: 200px;
 font-size: 10rem;
 font-weight: 800;
 letter-spacing: 0;
 text-align: right;
 color: #cdcccd;

}

.welcome__billonaire p {

  color: #7c7979;
  margin-right: 200px;
  text-align: right;
  padding-bottom: 400px;

}

/* ROADMAP & DEV.ROADMAP */ 

.roadmap__section { padding-top: 5px; background: #111111;}


.roadmap__section img{
  width: 700px;
  height: 120px;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 400px;
}

.botones_section {
  font-size: 1.6rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 150px;
  background: #111111;
}

.botones_section button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  height: 80px;
  width: 200px;
}
.botones_section button.learn-more {
  font-weight: 700;
  color: #382b22;
  text-transform: uppercase;
  padding: 1em 2em;
  background: #e6e4e4;
  border: 2px solid #47418b;
  border-radius: 0.55em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.botones_section button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #47418b;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #47418b, 0 0.625em 0 0 #0f0f0f;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.botones_section button.learn-more:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
.botones_section button.learn-more:hover::before {
  box-shadow: 0 0 0 2px #47418b, 0 0.5em 0 0 #0f0f0f;
  transform: translate3d(0, 0.5em, -1em);
}
.botones_section button.learn-more:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
.botones_section button.learn-more:active::before {
  box-shadow: 0 0 0 2px #47418b, 0 0 w;
  transform: translate3d(0, 0, -1em);
}

.boton_1 { margin-right: 100px;}

#premio {

    margin-top: 100px;
    display: block;


}

#triste {

  display: none;
  margin-top: 200px;

}

.history-tl-container{
  width:50%;
  margin: 0 auto;
  display:block;
  position:relative;
  line-height:1.3em;
  min-width:920px;
  margin-bottom: 250px;
}
.history-tl-container ul.tl{
  margin:20px 0;
  padding:0;
  display:inline-block;

}
.history-tl-container ul.tl li{
  list-style: none;
  margin: 0 auto;
  margin-left:200px;
  min-height: 150px;
  /*background: rgba(255,255,0,0.1);*/
  border-left: 2px dashed #c9c9c9;
  padding:0 0 50px 30px;
  position: relative;
}
.history-tl-container ul.tl #color__1:last-child{ border-left:0;}
.history-tl-container ul.tl #color__1::before{
  position: absolute;
  left: -20px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #71acd5;
  height: 40px;
  width: 40px;
  transition: all 500ms ease-in-out;

}

.history-tl-container ul.tl #color__2:last-child{ border-left:0;}
.history-tl-container ul.tl #color__2::before{
  position: absolute;
  left: -20px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #68c07b;
  height: 40px;
  width: 40px;
  transition: all 500ms ease-in-out;

}

.history-tl-container ul.tl #color__3:last-child{ border-left:0;}
.history-tl-container ul.tl #color__3::before{
  position: absolute;
  left: -20px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #d0d48a;
  height: 40px;
  width: 40px;
  transition: all 500ms ease-in-out;

}

.history-tl-container ul.tl #color__4:last-child{ border-left:0;}
.history-tl-container ul.tl #color__4::before{
  position: absolute;
  left: -20px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #e9c585;
  height: 40px;
  width: 40px;
  transition: all 500ms ease-in-out;

}

.history-tl-container ul.tl #color__5:last-child{ border-left:0;}
.history-tl-container ul.tl #color__5::before{
  position: absolute;
  left: -20px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #c06f6f;
  height: 40px;
  width: 40px;
  transition: all 500ms ease-in-out;

}

.history-tl-container ul.tl #color__6:last-child{ border-left:0;}
.history-tl-container ul.tl #color__6::before{
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #ae6ca9;
  height: 40px;
  width: 40px;
  transition: all 500ms ease-in-out;

}

.history-tl-container ul.tl  #color__1:hover::before{
  border-color:  #71acd5;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl  #color__2:hover::before{
  border-color:  #68c07b;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl  #color__3:hover::before{
  border-color:  #d0d48a;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl  #color__4:hover::before{
  border-color:  #e9c585;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl  #color__5:hover::before{
  border-color:  #c06f6f;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl  #color__6:hover::before{
  border-color:  #ae6ca9;
  transition: all 500ms ease-in-out;
}

ul.tl li .item-title{

  margin-left: 30px;
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #dddbdb;

}

ul.tl li .item-detail{
  margin-left: 30px;
  color:#b7b7b7;
  font-size: 1.5rem;
  font-weight: 500;
}

ul.tl li .timestamp{
  position: absolute;
  width:100px;
  left: -25%;
  text-align: right;
  font-size: 3rem;
  font-weight: 800;
}

ul.tl p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 100px;
  color: #b7b7b7;

}



  /* 3D MODEL */

  .modelo{

    background: #0f0f0f;


}


.modelo model-viewer {

    padding-bottom: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 1000px;

}


/* BUY SECTION */

.buy {
  background: #111111;
  padding: 300px;
}

.buy img {
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
  
}

.buy h1 {
  color: #dddbdb;
  font-size: 5rem;
  margin: 125px 0px;

}

.buy p {
  color: #b7b7b7;
  font-size: 2rem;
  margin: 0 200px;
  text-align: center;
}



/* FAQS*/

.faqs__menu {
  display: grid;
  place-items: center;
  overflow: hidden;
  min-height: 100vh;
  color: var(--color-text);
  background: #0f0f0f;
  margin-top: 100px;
}


.accordion {
  width: 100rem;
  padding: 1.5rem ;
  border-radius: 1.2rem;
  background: #202020;
/*   box-shadow: 0 0 5rem lightgrey; */
}

.accordion__heading {
  font-size: 12rem;
  margin-bottom: 100px;
  padding: 0 1.4rem;
  background: #8A2387;
  background: -webkit-linear-gradient(to right, #45db52, #5fbecf, #4e539c);
  background: linear-gradient(to right, #45db52, #5fbecf, #4e539c); 
  
  -webkit-background-clip: text;
  
  color: transparent;
}

.accordion__item:not(:last-child) {
  border-bottom: 1px solid grey;
}

.accordion__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2.5rem 1.4rem;
  background: #202020;
  border: none;
  outline: none;
  color: #d8d6d6;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: left;
  cursor: pointer;
  transition: 0.1s;
}
.accordion__btn:hover {
  color: #111111;
  background: #e4e3e3;
}

.accordion__item--active .accordion__btn {
  color: #111111;
  border-bottom: 2px solid #111111;
  background: #e4e3e3;
}

.fa-lightbulb {
  padding-right: 1rem;
}
.accordion__icon {
  border-radius: 50%;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}
.accordion__item--active .accordion__icon {
  transform: rotate(135deg);
}

.accordion__content {
  font-weight: 200;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateX(16px);
  transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
}
.accordion__content p {
  padding: 4rem 1.8rem;
  font-size: 1.8rem;
  color: #d8d6d6;
  letter-spacing: 1px;
}

.accordion__item--active .accordion__content {
  opacity: 1;
  transform: translateX(0px);
  max-height: 100vh;
}


/* TEAM */


.container {

  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0;
  padding: 60px 0 100px 0;
  margin-bottom: -300px;
  padding-top: 100px;
  background: #111111;
  padding-bottom: 300px;

}

.container .card {

  position: relative;
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container .card .content {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
  transition: 0.5s;

}

.container .card:hover .content {

  opacity: 1;
  transform: translateY(-20px);

}

.container .card .content .imgBx {

  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.container .card .content .imgBx img {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.container .card .content .contentBx h3 {

  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;

}

.container .card .content .contentBx span {

  font-size: 12px;
  font-weight: 300;
  text-transform: initial;

}

.container .card .sci {

  position: absolute;
  bottom: 0;
  top: 0;
  display: flex;
  


}

.container .card .sci li {

  list-style: none;
  margin: 0 10px;
  transform: translateY(120px);
  transition: 0.5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
  display: flex;
  align-items: center;
  text-align: center;

}

.container .card:hover .sci li {

  transform: translateY(110px);
  opacity: 1;


}

.container .card .sci li a 
{

color: #fff;
font-size: 24px;  

}

.team {
  padding-top: 15rem;
  background: #111111;
  color: #fff;
  text-align:center;
  margin-bottom: 0;
  margin-top: 250px;
}

.team img{

  
  display: block;
  margin: 0 auto;
  height: 120px;


}


/* Footer */


footer {

  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  background: #333;
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 0 10px;
  background: var(--tercero);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -80px;

}

footer :is(.social-icon, .menu) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

footer :is(.social-icon, .menu) li {
  list-style: none;

}

footer .social-icon li a {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  /* 인라인 요소는 transform 안 됨 */
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a:hover {
  transform: translateY(-10px);
}

footer .menu li a {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;

}

footer .menu li a:hover {
  opacity: 1;
}

footer p {
  color: #fff;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 1.3rem;
  padding: 5px;


}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #e3e3e3 transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 20px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e3e3e3;
    border-radius: 10px;
    border: 3px solid transparent;
  }



  